@import "~bootstrap/scss/bootstrap.scss";

.container{
    background: white;
    align-self: center;
    justify-content: center;  
}

h1{
    text-align: center;
    color: deeppink;
    font-family: fantasy;
}

ul.myIcon{
    position: relative;
    justify-content: right;
    opacity: 1;
}