@import "~bootstrap/scss/bootstrap.scss";

.container{
    background: rgba(255, 255, 1, 0.61);
    align-self: center;
    justify-content: center;  
    margin-top: 100px;
}

h1{
    text-align: center;
    color: deeppink;
    font-family: fantasy;
}

li {
    position: relative;
    border-bottom: 1px solid lightseagreen;
}

.myIcon{
    position: absolute;
    top: 0;
    right: 0;
    color:deeppink;
    opacity: 0;
}

.myIcon:hover{
    position: absolute;
    top: 0;
    right: 0;
    color:deeppink;
    opacity: 1;
}